<aside class="w-full lg:w-48 min-h-screen bg-base-100 p-4 rounded-lg ">
  <h2 class="font-semibold text-lg mb-2">Language</h2>
  <ul class="space-y-2">
    <% languages.forEach(lang => { %>
      <li>
        <a
          href="/api/posts?languageId=<%= lang._id %>"
          class="block w-full text-left px-4 py-2 rounded-lg hover:bg-base-300 hover:text-primary font-medium transition-colors duration-200 ease-in-out <%= (selectedLanguageId == lang._id.toString()) ? 'btn-active bg-neutral text-white' : '' %>""
        >
          <%= lang.name %>
        </a>
      </li>
    <% }) %>
  </ul>
</aside>
